<!DOCTYPE html>
<html>
<head>
  <title>EMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--layout of the navigation bar -->

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Employee Management System</a>
    <ul class="nav pull-right">

      <li class="active"> <%= link_to "Home",statuses_path %> </li>
      
      <li><a href="#">Link</a></li>
      
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<!--#search box for the app # 
<form class="navbar-form pull-right">
  <input type="text" class="span2">
  <button type="submit" class="btn">Submit</button>
</form>
-->

<!-- layout of the body -->

<div class="container-fluid">
  
  <div class="row-fluid">
    
    <div class="span2">
      <!--Sidebar content-->
      
      <ul class="nav">

       <li><a href="# "class="side-menu"><br><br><h4>Home</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>Content</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>QA</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>HR</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>Leave Policy</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>Reports</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>About Us</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>Contact Us</h4></a> </li> <hr>
       <li><a href="# "class="side-menu"><br><h4>Log out</h4></a> </li> 
       
      </ul>

    </div>
    
    <div class="span10">
      <!--Body content-->
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
